<main style="margin-top: 150px;">
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="p-5 text-white" style="height: 300px; width: 100%; background-color: #343a40; border: 3px solid #343a40"> <!-- Dark Grey -->
        <h2>Registro de Entrada</h2>
        <p>Registra la hora de entrada de los empleados y mantén un control eficiente de las horas trabajadas.</p>
        <button class="btn btn-outline-light" type="button">Registrar Entrada</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-5" style="height: 300px; width: 100%; background-color: #f8f9fa; border: 3px solid #343a40;"> <!-- Light Grey -->
        <h2>Registro de Salida</h2>
        <p>Controla la hora de salida de los empleados para calcular las horas totales trabajadas durante el día.</p>
        <button class="btn btn-outline-secondary" type="button">Registrar Salida</button>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <div class="p-5 text-white" style="height: 300px; width: 100%; background-color: #306dad; border: 3px solid #343a40"> <!-- Blue -->
        <h2>Reportes de Asistencia</h2>
        <p>Genera reportes detallados de asistencia, ausencias y horas extras para una gestión de recursos humanos eficaz.</p>
        <button class="btn btn-outline-light" type="button">Generar Reporte</button>
      </div>
    </div>
  </div> 
</main>